<%= form_for(:session, url: sessions_path) do |f| %>

  <div class="form-group">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>

  <br />

  <div class="form-group">
    <%= f.label :password %><br>
    <%= f.password_field :password %>
  </div>

  <br />

  <%= f.submit "Sign in", class: "btn btn-primary" %>
<% end %>