<!DOCTYPE html>
<html>
<head>
  <title>Profileapp</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<% if signed_in? %>
  <%= link_to "Sign out", signout_path, method: "delete" %>
<% else %>
  <span>need to sign in</span>
<% end %>
<%= yield %>

</body>
</html>
